raw/*
!raw/.gitkeep
*.tsv
*.tsv.gz
*.parquet
*.duckdb
*.duckdb.wal
logs/
.env
__pycache__/
dbt_project/target/
dbt_project/logs/
dbt_project/dbt_packages/
logs/
plugins/
config/simple_auth_manager_passwords.json
config/dbt/.user.yml
.idea/
